/* Untuk Tablet */
@media all and (max-width: 1000px) {}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

    /* CSS untuk menu di header */
    .header-right {
        display: none;
    }

    /* CSS untuk menu-icon */
    .menu-icon {
        display: block;
    }

    .promotion h1 {
        font-size: 30px;
        font-weight: bold;
        margin-top: 5px;
    }

    .flex-column {
        flex-direction: column;
    }

    .row1 img,
    p {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .row3,
    .row4 {
        text-align: center;
    }

    .follow a {
        font-size: 10px;
        display: inline;
        margin-right: 5px;
    }

    .row3,
    .row4 h3 {
        font-size: 12px;
    }
}