* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1.0);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 45px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(241, 242, 246, 1.0);
  color: red;
  text-decoration: underline;
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: black;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display: none;
}

.promotion {
  padding: 100px 0 50px 0;
  background-color: rgba(235, 59, 90, 1.0);
  color: white;
  text-align: center;
}

.promotion h1 {
  font-size: 72px;
  font-weight: bold;
  margin-top: 5px;
}

.bg-graytrans {
  background-color: rgba(75, 75, 75, 0.75);
  color: white;
}

.bg-gray {
  background-color: rgba(61, 61, 61, 0.75);
  color: white;
}

.btn-wrapper {
  text-align: center;
  margin-top: 20px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn-shop {
  border: 1.5px solid #eee;
  font-weight: bold;
}

/* --------------footer---------------- */
footer {
  background-color: #b3b3b3;
  margin: 0 auto;
}

.follow a {
  display: block;
}

.flex-column {
  display: flex;
  flex-direction: row;
  /* border: 1px solid #fedede; */

}

.flex-column p {
  font-size: 12px;
  color: white;
}

.flex-column a {
  text-decoration: none;
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* border: 1px solid #fedede; */
}

.row1 {
  flex-basis: 30%;

}

.row2 {
  flex-basis: 30%;

}

.row3,
.row4 {
  flex-basis: 20%;
}


.flex-column2 {
  display: flex;
  flex-direction: row;
  /* border: 1px solid #fedede; */
}

.box {
  height: 2em;
  margin: 5px;
  padding: 3px;
  border: 2px solid #dedede;
  border-radius: 3px;
  overflow: hidden;
  font-size: 0.7em;
}


/* --------------bagian tambahan---------------- */

.bagian-tambahan {
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading-tambahan {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.koleksi-list {
  float: left;
  width: 25%;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  color: #b3aeb5;
  background-color:gray;
  height:40px;
  padding-top:15px;
}

.text-contents a:hover {
  background-color:black;
}
